[2019-06-11 12:27] RJuro opened #1 "dummy example doesn't work for me"
Thanks for that package. Very much needed work :-)

`se.train(sentences)`
gives: `TypeError: s2v_train() takes 3 positional arguments but 4 were given`

I was trying it on Google Colab

[2019-06-11 16:47] oborchers commented on #1
Hi Roman,

thank you for finding this bug. I forgot to modify the non-cyhton version. You ran into the non-Cython version, which is way slower. That made me realize the Cython compilation doesn't work on Colab. You have to build from git using:

pip install git+https://github.com/oborchers/Fast_Sentence_Embeddings

See https://colab.research.google.com/drive/1qq9GBgEosG7YSRn7r6e02T9snJb04OEi for a

[2019-06-11 16:49] #1 closed

[2019-06-11 17:51] RJuro commented on #1
Awesome, thanks. 👍🏻

[2019-06-20 16:18] spedygiorgio opened #2 "train on data and predict on new data"
Hi I see that the train method of an fse object returns the sentence embedding.
Is threre a predict method to apply the trained modeled on new data?
Or train stays for predict?

Best

[2019-06-22 13:04] oborchers commented on #2
Hi! Train is the equivalent of the predict function. However, I think I will rename the function to „infer“ in a future version.

[2019-06-22 13:04] #2 closed

[2019-06-22 14:51] spedygiorgio commented on #2
thank you

[2019-06-29 17:19] DarrenCook opened #3 "Docs: extend example with lookup"
It would be great if you could show how to use the sentence embeddings, e.g. to find the nearest sentence, or nearest N sentences, in the training corpus. I.e. how to write `find_nearest()` in the below:

[code]

[2019-07-01 09:33] oborchers commented on #3
Thank you for the suggestion! I am currently thinking of some major changes to the library, thus this would be a welcome enhancement.

[2019-07-01 10:34] DarrenCook commented on #3
Thanks for the reply: If there is nothing built into fse currently, I wondered if `sentences_emb` could be used with the gensim word2vec functions for finding nearest matches? But it must be a 2-step process?? (I took a look at the  Sentence_Prediction.ipynb file, but couldn't see what I needed.)

[2019-07-03 07:32] oborchers commented on #3
The simplest way of comparing sentences currently would be to compute the l2 normalized matrix-vector product of sentences_emb.dot(test_sentence) and look for the top-n values. I will add tha tin a future version

[2019-07-03 07:32] #3 closed

[2019-07-09 05:24] yondu22 opened #4 "loading word2vec and fasttext both don'"
I tried to load the model several ways but keep getting
https://drive.google.com/file/d/0B0ZXk88koS2KNER5UHNDY19pbzQ/view

RuntimeError: Model must be child of BaseWordEmbeddingsModel or BaseKeyedVectors.

[2019-07-09 09:38] yondu22 commented on #4
it was a mistake, i was feeding the sentence embedding into the sentence embedding again, when i should have fed the word2vec model into the sentence embedding train function

[2019-07-09 09:38] #4 closed

[2019-07-09 09:49] yondu22 commented on #3
[code]

[2019-07-09 17:26] DarrenCook commented on #3
@yondu22  Thanks! I've been testing with this, and I think it needs one small fix (before the `np.argsort` line):

    score = np.absolute(score)

(BTW, for a minimal documentation example, I think the termcolor dependency should be dropped.)

[2019-07-10 01:26] yondu22 commented on #3
thanks, good point

[2019-08-26 09:38] oborchers commented on #3
@DarrenCook and @yondu22:
I have implemented a method to search for similar sentences in the latest version v.0.1.1.
See the jupyter [notebook](https://github.com/oborchers/Fast_Sentence_Embeddings/blob/master/notebooks/Tutorial.ipynb) for an example.
Yours

[2019-08-26 09:40] oborchers commented on #2
@spedygiorgio
I have included a train and a predict method. Some embeddings (SIF, uSIF) require the estimation of components, which is performed during training. If you apply infer to a new set of sentences it will only remove the components, but not re-estimate the components.

See the [notebook](https://github.com/oborchers/Fast_Sentence_Embeddings/blob/master/notebooks/Tutorial.ipynb) for an ex

[2019-08-26 09:43] oborchers commented on #1
@RJuro : I've updated the package to v.0.1.1. The dummy example on [Colab](https://colab.research.google.com/drive/1qq9GBgEosG7YSRn7r6e02T9snJb04OEi) shows how to install and upgrade to the new version 👍

[2019-08-27 11:32] RJuro commented on #1
Great. Thanks

On Mon, 26 Aug 2019, 17:43 Oliver Borchers, <notifications@github.com>
wrote:

[2019-08-28 15:01] julianlanger opened #8 "Speed"
Hi, I am currently trying out your algorithm and I was wondering what speeds you achieve. On my machine (MacBook Pro), training on 200 sentences takes roughly 3 seconds. Is this normal or do you think there is something wrong? Your help would be much appreciated!

[2019-08-29 08:38] oborchers commented on #8
Hi @julianlanger! Thank you for your feedback! I have uploaded a benchmark to the [development branch.](https://github.com/oborchers/Fast_Sentence_Embeddings/blob/develop/notebooks/Speed%20Comparision.ipynb) What currently takes long (about ~2s) is the induction of word frequencies.

This is a step you only have to perform once when you are using SIF or uSIF embeddings. If you just compute average

[2019-08-29 09:21] julianlanger commented on #8
Thank you for your quick reply! I am just wondering what this implies for my workflow. I have a very large document collection (4.5 million), each with a moderate amount of sentences (200 to 250). Should I batch them into large sentence collections for the training and then do inference by document afterwards?

[2019-08-29 09:39] oborchers commented on #8
I have not yet have to work with this kind of data, although I have thought of this as a feature. I guess the fastest way would be to work with a large sentence collection and map each sentence index to a document id separately or, more easily, a document id to a tuple of indices (lo, hi), where lo represents the overall index of the first sentence in the document (assuming you stored the large-se

[2019-09-04 06:10] #8 closed

[2019-09-14 15:24] peter-pogorelov opened #10 "issue with fasttext model"
The following code throws an error (TypeError: Cannot convert numpy.float32 to numpy.ndarray):

`fb = load_facebook_model(path_to_model)`
`model = SIF(fb, alpha=1e-7, components=1)`
`model.train([IndexedSentence(s, i) for i, s in enumerate(sentences)])`
`this line >> model.sv.similar_by_sentence(['документы', 'бухгалтерия'], model=model, indexable=sentences)`

However, if we replace the model with

[2019-09-14 18:28] oborchers commented on #10
Hi, thank you for the issue. I was already contacted and the issue should now be resolved.

Make sure to upgrade to the latest version by pip install -U fse or by building from the master branch, as I've just released 0.1.15.

If the issue persists, please feel free to contact me again.

[2019-09-14 18:28] #10 closed

[2019-10-04 07:02] mustfkeskin opened #12 "RuntimeError: You must first train the model to obtain SVD components"
Hello

Model training can done easily. But after save my model i can load it.

[code]

But when I try to
`similars = model.sv.similar_by_sentence("my sentence".split(), model=model, indexable=doc.items, topn=100)`
I got error

![image](https://user-images.githubusercontent.com/5824559/66187597-c320e180-e68d-11e9-932a-66b209485d98.png)

[2019-10-04 07:23] 0x01h commented on #12
Yes, I have same problem too.

After applying `load`, `sv` functions give this error.

Could you fix this issue?

[2019-10-04 09:11] oborchers commented on #12
Oh yes, thank you! I can see why this happens. I don't store the svd components, which means this call is only happening in SIF/uSIF. I have to find some time first to fix this in the near future.

To temporarily fix this, try:

[code]

[2019-10-04 09:19] 0x01h commented on #12
Applying last line throws this error because `model.sv.vectors` returns an empty array.

[code]

[2019-10-04 10:07] oborchers commented on #12
Weird. Thank you, I'll have to go through this in detail.

[2019-10-04 10:56] joelkuiper opened #13 "error: (lwork>=n||lwork==-1) failed for 1st keyword lwork: sorgqr:lwork=-980116480"
[code]

When executing

[code]

Note that it also happens with regular SIF, the list of sentences is approx 30GB with the embedding dimension being 128. Not entirely sure how to debug this further, any thoughts?

List of dependencies from Anaconda https://gist.github.com/joelkuiper/b43a9d1f0b422eadf3dee0a29476ad90

[2019-10-04 12:27] oborchers commented on #13
As far as I can tell this might be related to the computation of the SVD and that 30GB of sentences might kill the SVD solver. It should nonetheless be possible to approximate the SVD components by using only a subset of sentences. I'll have to dig into this

[2019-10-04 14:06] joelkuiper commented on #13
Yeah I'm thinking the SVD is crashing, the machine had approx 100GB of memory left though (since the rest was memory mapped). I am not sure if there is nice iterative version of SVD, I'm guessing no but for such a large set of documents taking a (random) subset to approximate it might be valid as you proposed.

And yeah, for nearest neighbor lookup it definitely needs an approximate kNN, apart fro

[2019-10-12 12:22] RyanHuangNLP opened #14 "save sif_model.sv.vectors.npy file is very large?"
I found my sif_model.sv.vectors.npy file is just (758194, 100) matrix, but that file is 15G,  while I save a (800000, 100) matrix to npy file, it just 600mb,  so is it normal? I train the sif model on 30 million sentences

[code]

[2019-10-13 08:01] Shmuma commented on #12
I've noticed that `sv` field is not loaded when underlying vectors are smaller than 2^30 rows.
If they're larger, separate numpy array file is created on `save()` call and load works fine.

[2019-10-21 06:52] 0x01h commented on #12
Is there any potential fixes for this issue? @oborchers Thank you!

[2019-10-22 16:21] oborchers commented on #12
@0x01h @Shmuma : I will try to fix this in the upcoming month. However I have a load of work to do atm and extremely little time

[2019-11-05 04:09] rmporsch opened #15 "Infer only returns embedding of one sentence"
Given a list of input Tuples in the form of `Tuple[List[str], int]` I initially expected to get a numpy matrix returned of size (n, vector_size).
I suspect this is due to the following line:
https://github.com/oborchers/Fast_Sentence_Embeddings/blob/39ada0ed75e74386e04366d3427eba12257f587e/fse/models/base_s2v.py#L670
Should it be something like this?
[code]

Reproducible example from the tutorial:

[2019-11-18 14:52] oborchers commented on #15
Thank you! As soon as I've got some free time I will deal with it!

[2019-11-18 14:59] oborchers commented on #14
Hi! If you train the model on 30 million sentences you should end up with an array of size (30*10^6, 100).

The formula to determine the approx size of the array is:
`sentences * vector_size * np.dtype(np.float32).itemsize`

For your purpose that'd be equal to:
`30e6*100*np.dtype(np.float32).itemsize / 1024**3`
which is about 12G. Thus 15 is a bit higher than expected

[2019-11-22 06:44] mwade625 opened #16 "GENSIM KeyedVectors and downloadable Models"
It appears that when I download any model from the downloader api in gensim or saved a Word2Vec and re-load it using a KeyedVectors format, the vocab object is storing a reverse index in the "count" variable.  So for example, if I have 10 words in the model, the first word has a count of 10 and an index of 0.

Using the following code:

word_vectors = api.load('glove-wiki-gigaword-100')
sif_model

[2019-11-23 13:39] mwade625 commented on #16
Left out a key point, your tutorial.ipynb fails if you used uSIF instead of SIF because of this. (See error dump below)

<ipython-input-36-613a0229b973> in <module>
----> 1 model.train(s)
      2

~/PycharmProjects/fse_test/venv/lib/python3.7/site-packages/fse/models/base_s2v.py in train(self, sentences, update, queue_factor, report_delay)
    640
    641         # Preform post-tain calls (i.e pri

[2019-12-09 07:36] yhgon opened #17 "question for output"
Dear @oborchers

I'm investigate sentence vector your gensim example (data and glove ).

when I check the similarity of sentence `s[0]`,
I got result well
[code]

[code]
and check the similarity works well
[code]

however, when I check `s[100]`  , the result is wrong. when I check `s[100] and  `s[102]` is same sentence
[code]

and result is different.
[code]

[code]

do you have any idea?

[2019-12-31 05:30] DXcarlos opened #18 "C extension not loaded, training/inferring will be slow"
Hi, I've installed fse in Windows I get the following warning
C:\Users\CARLOS\Anaconda3\lib\site-packages\fse\models\base_s2v.py:115: UserWarning: C extension not loaded, training/inferring will be slow. Install a C compiler and reinstall fse.
  "C extension not loaded, training/inferring will be slow. "

I know that this type of warning also appears in gensim in some cases, however, in gensim I d

[2020-01-13 05:51] nh111 opened #19 "AttributeError: 'Word2Vec' object has no attribute 'infer'"
Hi, when I run the below line of code I am getting below error. could you please suggest.
I am using a word2vec model, which is trained with Gensim package.

code
`model.sv.similar_by_sentence("Is this really easy to learn".split(), model=wmodel, indexable=s.items)`

Error:
  File "C:\ProgramData\Anaconda3\lib\site-packages\fse\models\sentencevectors.py", line 347, in similar_by_sentence
    vecto

[2020-01-15 09:45] omri374 commented on #19
I think (but not sure) that the model should be the same model you call (model.sv...) and not the w2v model

[2020-01-17 14:23] nh111 commented on #19
I got it, Thanks.

[2020-01-17 14:23] #19 closed

[2020-01-23 15:07] lucaventurini opened #20 "Optimize for Fasttext supervised mode"
Hi @oborchers ,
first, kudos for the superb work! 👍
I am exploring SIF embeddings with your library. I have noticed, looking at the code, that there are some specific optimizations for FastText models. Now, since Gensim does not seem to support supervised FT models in any way, I currently "force" it to load my model through the .vec files (instead of the .bin), like this:

`ft = KeyedVectors.load_

[2020-02-10 17:41] oborchers commented on #18
Hi @DXcarlos,

unfortunately I have currently no way of implementing or testing the fse library on Windows to be honest. This is something for a future release, as building the C core routines for computing the embeddings is not compiled on windows and reverts to a pure numpy implementation, which is way too slow.

[2020-02-10 17:41] #18 closed

[2020-02-10 17:45] oborchers commented on #16
Hi @mwade625,

about your first point:
Could you try again with the following argument:
uSIF(model=word_vectors, lang_freq="en")
Pre-trained models often don't come with frequency information. lang_freq induces word frequency information into a loaded model.

I have to check the second posting though.

[2020-02-10 17:47] oborchers commented on #17
Dear @yhgon

thank you for reporting this. I have no clue what is going wrong at the moment. I'll have to give this a check

[2020-02-10 17:47] #14 closed

[2020-02-10 17:53] mwade625 commented on #16
Thanks,  I was able to work-around this by using the pre-calculated english language frequencies.  I was just surprised that the tutorial failed.

[2020-02-10 17:57] oborchers commented on #20
Hi @lucaventurini

thanks for your nice post! So, there are some key things going on here. Correct me if I misunderstand you. By loading the file as a KeyedVectors file you do not load the ngram vectors of fasttext, only the full word vectors. Thus, fse will not support the fasttext features for files which do not contain the ngram vectors. You can still use this as a regular Word2Vec model. To en

[2020-02-10 18:21] oborchers commented on #12
Hey guys,

I've looked into the issue. Please use the following:

[code]
(This is now included in the unittests)

The problem mentioned by @mustfkeskin uses the load method differently than intended.
Load returns a SIF object.

[2020-02-10 18:21] #12 closed

[2020-02-10 19:47] oborchers commented on #13
@joelkuiper

I've included a solution to the problem! SIF and uSIF basically now come with a parameter "cache_size_gb", which determines the amount of ram to reserve for the SVD computation.
This is standard 1 GB, so the SVD routine will randomly sample rows from the matrix if the matrix is larger than 1 GB.

As for the approximate NN search: Is on my list. Thank you for the suggestions. I want a

[2020-02-10 19:47] #13 closed

[2020-02-10 20:19] oborchers commented on #16
@mwade625 Oh yes you are right! I can replicate the error! Much appreciated. Will look into this

[2020-02-10 20:53] oborchers commented on #16
@mwade625 I've implemented a fix for this. You will be notified in future to use a model with valid word-frequency information. Furthermore, if you don't, fse will raise a runtime error to properly infer the frequency using lang_freq arg. The tutorial now works as well. Pushed to develop branch.

[2020-02-10 20:53] #16 closed

[2020-02-11 20:19] oborchers commented on #19
@nh111: The model no raises an exception if you do not pass the correct model. Thank you

[2020-02-12 14:33] lucaventurini commented on #20
Hi @oborchers , thank you for your answer!

Correct. I know I won't use subwords, but this was the only "hack" I could find to load a supervised model (maybe I should say model trained in a supervised way, because I don't think that for the word embeddings themselves it matters how the model was trained) in Gensim. If you know any other way, please share 😉

Also, do you think that I can get rid of

[2020-02-12 15:47] oborchers commented on #20
Hi @lucaventurini, you are more than welcome!

I haven't yet used the supervised model, thus I am not exactly sure. However, you might want to try the following to reduce the ram usage. This is what I'd do, because loading the .vec/.bin files usually takes way too long and is ram intensive:

[code]
You can subsequently just use the last KeyedVectors.load function to load the model with mmap. This

[2020-02-12 15:47] oborchers commented on #15
It's a feature, not a bug :-)

By using the following code you create a 2-to-1 mapping. fse supports n-to-m mappings, so that you sum multiple results onto the same vector. This behavior is dependent on the index you pass.
Passing two sentences with index 0 will result in a 2-to-1 mapping.

2-to-1 mapping -> (1, 100):
[code]

1-to-1 mapping -> (2, 100):
[code]

[2020-02-12 15:47] #15 closed

[2020-02-12 16:35] #20 closed

[2020-02-15 09:52] oborchers commented on #17
Hi @yhgon,

I have looked into this. There was actually a little bug in the script cause I did not lowercase everything. Thus, "Google" and "Quora" are not in the dictionary. Lets replicate your scenario:

[code]

If I go for you example with index = 0 everything works fine:
[code]

If I change the index to 100 still everything works fine, yet not as expected:

[code]

This is due to the lack of p

[2020-02-15 09:52] #17 closed

[2020-02-19 14:20] mathias3 opened #24 "method save works( somehow) but load does not"
Hi when I call .save method on sif model it  works - although as I understand the only way to save/serialize model on disc is by using pickle?

`model_sif.save("model_sif2")`

trying to using save should return error , the same as  when i try to load  saved model

`model_sif2= FT_gensim.load("model_sif2")`

`AttributeError: Can't get attribute 'FastTextKeyedVectors' on <module 'gensim.models.depre

[2020-02-19 17:19] oborchers commented on #24
Hi,
i suspect that your FT_gensim is a fasttext instance.
Please use a SIF class to load the model.
[code]

[2020-02-19 22:59] mathias3 commented on #24
OK I just found out thst SIF uses SaveLoad from gensim.utils.

thanks

[2020-02-19 22:59] #24 closed

[2020-03-09 13:07] zheyaf opened #25 "Is it possible to use customised word frequency other than the one comes with model and lang_freq option?"
Hi, I have a word frequency dictionary independent from the model I trained, is it possible to have the option to feed sif with a word frequency dictionary separately? Thanks!

[2020-03-16 13:34] oborchers commented on #25
@zheyaf : Thanks for asking. Currently this feature is not supported. Yet, you can manipulate the ingoing model to contain your own frequencies. For an example, see [here](https://github.com/oborchers/Fast_Sentence_Embeddings/blob/6f9febf806ec321bb0e2f0ad1168fcc7a7f2647e/fse/models/base_s2v.py#L264)

[2020-03-16 13:34] #25 closed

[2020-03-19 13:23] fros1y opened #26 "Reduce Model Size for Inference"
Is it possible to reduce model size by discarding previously calculated sentence vectors?  This would be for downstream inference-only uses.

Best,

[2020-03-28 14:52] maksym-del opened #27 "Question: Document embedding is the sum over the sentence vectors?"
When we have several sentences with the same index (custom index was provided), how is the document embedding computed? Is it just a simple sum over the sentence embeddings?

[2020-04-01 11:49] oborchers commented on #27
Hi! Its the sum of all average sentence vectors with the same index.

[2020-04-01 11:49] #27 closed

[2020-04-01 11:51] oborchers commented on #26
Hi! That is actually a nice feature! Yes, you should be able to replace the model.sv.vectors by a null vector and it should work fine.

[2020-04-01 11:51] #26 closed

[2020-04-02 11:21] kyoungrok0517 opened #28 "gensim model of Paranmt"
Hi, could I have the gensim model of Paranmt you've used in STS demo? I've found the original vector pickle from the authors homepage (http://www.cs.cmu.edu/~jwieting/) but I don't know how to convert it to gensim model. Thanks for the great work!

[2020-04-11 10:04] oborchers commented on #28
Hi,

I've converted the model of Wieting to a Gensim model. Download the model here:

https://www.dropbox.com/sh/xr9h13u1ek2dcyd/AADeTEgpf1LRZFWosPNXx93La?dl=0

[2020-04-11 10:04] #28 closed

[2020-06-01 10:24] amandalmia14 opened #29 "cannot import name 'Sentence2Vec' from 'fse.models'"
Hi @oborchers ,

Post installing fse on windows by `pip install fse` when I try to import ` from fse.models import Sentence2Vec`

It throws the following error,
`cannot import name 'Sentence2Vec' from 'fse.models' (d:\amandalmia\venv\lib\site-packages\fse\models\__init__.py)`

Can you please help me in this issue.
Source: https://towardsdatascience.com/fse-2b1ffa791cf9

Thanks.

[2020-06-09 14:41] victorBigand commented on #29
Hi,
The code in the article is deprecated and the Sentence2Vec class does not exist anymore.
You can refer to this notebook to get up and running quickly: https://github.com/oborchers/Fast_Sentence_Embeddings/blob/master/notebooks/Tutorial.ipynb

[2020-06-09 20:32] ManuLasker opened #30 "uSIF model"
I got nan values error with the uSIF model

[2020-06-09 20:58] ManuLasker commented on #30
My error I did not specify the length parameter

[2020-06-09 20:58] #30 closed

[2020-06-30 19:18] lfomendes opened #31 "Usif does not work with small data?"
I'm trying to test the usif but I'm getting an error in the SVD part about nan values in the vector.
I took the example of the Average and changed to usif

`
from gensim.models import FastText
sentences = [["cat", "say", "meow"], ["dog", "say", "woof"]]
ft = FastText(sentences, min_count=1, size=10)

from fse.models import uSIF
from fse import IndexedList
model = uSIF(ft, components=1)
model.train

[2020-07-02 06:41] aydv opened #32 "slow speed for SIF model for large corpus"
Hi,
I have been experimenting with fse. For small dataset 200-300k sentences, embedding generation was very fast. But now i am training with large data corpus of 50 million sentences.  I am using 12 workers and still the training for embeddings is very slow. From logs it is somewhat 700 sentences/sec. I am using gensim.models.FastText
Also got a user warning of "C extension not loaded, training/in

[2020-08-04 14:08] oborchers commented on #29
Yes, @victorBigand is correct. I am going to write a doc as soon as I've got some spare time. Am focussing on more important features first.

[2020-08-04 14:08] #29 closed

[2020-08-04 14:14] oborchers commented on #31
Yes! The following line is missing:
[code]

I've added an error when you miss out to specify the argument:

[code]
Should lead to:
[code]

[2020-08-04 14:14] #31 closed

[2020-08-04 14:17] oborchers commented on #32
Hi,
you get the warning that the C extension is not loaded then something went wrong during the Cython installation. Therefore, fse will only use the existing numpy implementation (slow as frick)

Try setting up a new environment and check if your Gensim implementation also throws the same error. If not, please report the issue again, because then something seems to went wrong in the setup process

[2020-08-04 14:17] #32 closed

[2020-08-20 20:03] JoraJora opened #33 "Error in Colab Code"
Hi Dear Oliver.

In the Colab https://colab.research.google.com/drive/1qq9GBgEosG7YSRn7r6e02T9snJb04OEi In the last chunk must be.

from fse.models import Average
from fse import IndexedList
model = Average(w2v)
model.train(IndexedList(sentences))
model.sv.similarity(0,1)

A
![Captura](https://user-images.githubusercontent.com/9062738/90819932-41ae5e00-e2f6-11ea-8a9a-9641878f89f9.PNG)
n error curr

[2020-08-24 07:48] mavrokefalidis opened #34 "Returning vectors with similarity above threshold for most_similar()"
In `sentencevectors.py` most_similar() can return the `topn` most similar words. However it would be useful to be able to specify a similarity threshold above which the sentences are returned. For this `topn` could take a fractional value and therefore if topn is strictly smaller than 1 then it's considered a threshold and otherwise it works in the same way as it does now.

[2020-09-28 16:34] antklen opened #35 "Bug in remove_principal_components"
https://github.com/oborchers/Fast_Sentence_Embeddings/blob/6f9febf806ec321bb0e2f0ad1168fcc7a7f2647e/fse/models/utils.py#L135

For inplace = False function returns projection on principal components instead of resulting vectors.

[2020-11-25 12:07] mavrokefalidis commented on #18
I have this same problem in a Mac OS

[2021-01-26 17:22] grantmwilliams opened #36 "Does FSE guarantee ordering of vectors to be that of the input sentences?"
For an example like:

[code]

Where I read in an ordered list of sentences and then process them through a pre-trained model, does FSE guarantee the order of the model vectors to be the same order that the sentences were fed in?

I didn't see anything in the documentation or source code to suggest they wouldn't be, but I also haven't seen in the documentation any claims for guaranteed ordering eit

[2021-01-28 08:53] oborchers commented on #36
Hi @grantmwilliams,

the destination to where a sentence vector is written is completely dependent on the input.
Each input is an iterable of (list[str], int), whereas int represents the target index. All input wrappers of type `Indexed` will always take the supplied order of inputs, whereas `CIndexed` can be used to supply a custom set of indices for many-to-one mappings.

I think this library re

[2021-01-28 08:53] #36 closed

[2021-01-28 08:55] oborchers commented on #35
Thank you for raising the issue! I will have a look into this

[2021-01-28 08:56] oborchers commented on #34
Yes this is absolutely correct. However, the current implementation is actually highly inefficient in terms of similarty search (brute force). I had plans to include approximate nearest neighbor search, but haven't found time to implement it

[2021-01-28 09:00] oborchers commented on #33
Thank you, that is correct. Has been fixed!

[2021-01-28 09:00] #33 closed

[2021-03-02 19:27] lambdaofgod opened #39 "Hierarchical pooling"
Could you say something more about hierarchical pooling?
I am interested in this feature, but I'm not sure what you mean.
I can try to implement this if given some guidance.

[2021-03-16 23:35] bhargavvader commented on #35
Has this by been fixed? I believe the fix by @grantmwilliams [here](https://github.com/grantmwilliams/Fast_Sentence_Embeddings/commit/ad88c812f36b935c23c2ebc018eb20a7876a7fb0) should do the trick. Should I raise a PR if that makes things easier for you @oborchers ?

[2021-03-16 23:41] grantmwilliams commented on #35
https://github.com/oborchers/Fast_Sentence_Embeddings/pull/37 Was merged and should have the fix.

[2021-03-17 21:26] bhargavvader commented on #35
Great!

[2021-03-27 02:57] lukelu0520 opened #40 "Gensim version ImportError: cannot import name 'BaseKeyedVectors'"
Dear fse creator,

Below import gives ImportError: cannot import name 'BaseKeyedVectors'.
`from fse import SplitIndexedList`

We think it's from the compatibility of gensim, so were wondering what is the gensim version we should use.
(we are using the latest gensim 4.0.0)

[This github issue](https://github.com/RaRe-Technologies/gensim/issues/1877) suggests it should be **from gensim.models.keyedv

[2021-03-27 03:05] lukelu0520 commented on #40
Update: if we downgrade gensim to 3.8.3, it would work.
Still hope to know the correct gensim version we should use to avoid potential errors.

[2021-03-27 20:51] #40 closed

[2021-04-10 11:18] oborchers commented on #39
Hi @lambdaofgod ! Thanks for your interest! Hierarchical pooling means averaging over a subspan of the original tokens. For example:

I added this feature a while on the dev branch, but have to admit that the branch is somewhat abandoned.
https://github.com/oborchers/Fast_Sentence_Embeddings/blob/develop/fse/test/test_pooling.py

[2021-04-14 16:27] oborchers commented on #35
Yes! thanks for your contribution

[2021-04-14 16:27] #35 closed

[2021-04-20 07:02] jaytimbadia opened #42 "Regarding comparison"
Hi, Really great work!!

I just have one question.

Which one (FastText, word2vec, glove) is good in getting better sentence embedding from respective word vectors by averaging them?

Which according to you will give better results on search results for sentences if I embed them?

[2021-04-20 18:37] rishabhrjain opened #43 "cannot import name 'BaseKeyedVectors' from 'gensim.models.keyedvectors'"
I have installed gensim 3.8 and have python 3.7.

Traceback:
------------------------------------------------------------------------------------
from fse.inputs import IndexedList, IndexedLineDocument
     11
---> 12 from gensim.models.keyedvectors import BaseKeyedVectors
     13
     14 from numpy import dot, float32 as REAL, memmap as np_memmap, \

ImportError: cannot import name 'BaseKeyedVect

[2021-04-21 21:07] AlexMRuch commented on #18
I also have this issue on Mac OS

[2021-04-22 13:41] AlexMRuch opened #44 "Update setup.py to python<3.7 to fix "C extension not loaded, training/inferring will be slow. Install a C compiler and reinstall fse" warning"
This is related to #18, which was closed but is not solved. Myself and another user (@lucas-ubm) are experiencing this problem on macOS systems, so it is not limited to Windows. I have tried installing `gensim` through conda to no avail. Any tips would be greatly appreciated.

*Error message:*
[code]

Here is my machine setup:
*macOS:* MacBook Pro (15-inch, 2019), Version 11.2.3 (20D91)
*Processor

[2021-04-22 14:59] AlexMRuch commented on #44
The error persists even with an extremely elementary environment such as
[code]

[2021-04-22 15:06] AlexMRuch commented on #44
Also occurs if you explicitly install `gensim` with `conda`:
[code]

[2021-04-22 15:14] AlexMRuch commented on #44
It's also not specific to the version of python
[code]

[2021-04-22 15:22] AlexMRuch commented on #44
You have to explicitly set `python=3.6`. That's so weird that the installer didn't pick up that in order to install `fse` python must be set to 3.6.

This is likely because in your `setup.py` script you have `REQUIRES_PYTHON = ">=3.8"` <-- this should be set to 3.6.

[2021-05-02 15:28] mengxiayu commented on #43
Maybe you can double check the version of gensim. I solved this problem by downgrading gensim to 3.8.3.

[2021-05-06 09:11] shikharsingla opened #45 "use normalized word vectors or not?"
Hi, I am using word2vec model to calculate sentence level embeddings and I was wondering if I should use normalized word vectors to train the SIF model?

[2021-05-10 21:30] Filco306 opened #46 "Ordering of sentences trained on matters for the inferred vectors."
Hello,

First of all, thank you for a nice repository. I am however a bit troubled about one thing, which I hope to get answered here.

The order in which the data is inputted seem to matter for the outcome of the vectors; at least for the uSIF embedding function.

Consider the example below.

[code]

Gives me the output

[code]

Should this really be the case? Thank you in advance!

[2021-09-09 09:21] AleMuzzi commented on #40
Bug appeared in version 4.1.0 using the import

`from fse.models import Average`

found in this example https://towardsdatascience.com/vis-amz-83dea6fcb059.
I managed to get gensim work downgrading it to version 3.8.3 .

[2021-11-01 15:13] JacksonWuxs opened #47 "Encounter "Divided 0 Error""
Hi Oliver,

Thanks to this great repo!
But, I found some issues when I use it with [SentEval](https://github.com/facebookresearch/SentEval).

Generally speaking, the problem is "divide by zero error" when I use `uSIF(glove, length=12, ncomponents=1)`. The error was raised at calculating `a = (1 - alpha)/(alpha * 2)` at the _fse/models/usif.py:line126_.

If you need a minimum running code to reprod

[2021-11-17 19:16] grantmwilliams commented on #47
@JacksonWuxs do you think you could post the minimum running code example? I think I'd like to take a look at addressing the problem.

[2021-11-17 19:26] grantmwilliams opened #48 "Paranmt Model"
Is there any information on getting the `paranmt` model or setting it up? The benchmarks show it as a great model to use with FSE and I was hoping to try it out, but I haven't been able to find it anywhere (just training data). I was just curious if there was somewhere we could access this model/keyed vectors.

[2021-11-17 19:57] grantmwilliams commented on #46
Hey @Filco306 i was curious about this and give it a look and it looks to me that this is simply a precision issue. If instead of using `np.all(vecs == vecs2)` you try using `assert_allclose(vecs, vecs2, atol=1e-5)` from numpy's testing library you'll see it asserts true.

As an example I get ` print(vecs-vecs2)`:

[code]

   I suspect this is because under the hood fast text uses asynchronous sto

[2021-11-17 20:04] Filco306 commented on #46
Hello there! Very nice, thank you for this!

[2021-11-17 20:04] Filco306 commented on #46
Then I will consider this closed :)

[2021-11-17 20:04] #46 closed

[2021-11-17 21:10] JacksonWuxs commented on #47
I will try to prepare it for several days.

[2021-11-18 07:16] mathias3 opened #49 "maintenance"
Hi Oliver,
You have merged few PR 's but still have not issued new version. Is there chance for that in a near future? Or maybe if you are busy with other projects could you add maintainers to your repo. Me or the guy that  did recent PR  would be more than happy to contribute and help this package to survive @oborchers

[2021-11-25 12:46] Filco306 opened #50 "Handling out of vocabulary"
Hello!

I am using this package to compile reasonable word vectors, but for some short compilations of words, all my words are OOV. I tried using FastText, but I get:

[code]
Is it possible to use FastText and handle Out of vocabulary words?

Thank you!

[2021-11-25 12:50] Filco306 commented on #50
Perhaps there is an example somewhere on how to use FastText capable of handling OOV with the uSIF model?

[2021-11-25 13:49] Filco306 commented on #50
Managed to solve this.

[2021-11-25 13:49] #50 closed

[2021-11-27 13:58] oborchers commented on #49
Hi @mathias3! Help would be very welcome. Although I don't have so much time for this repository, it's still a good thing to have and fills a niche that cannot be filled by more recent advancement in the NLP world.

I've created version 0.1.17 and I have fixed the most glaring issues with the repository, mainly related to the gensim and python incompatibilities.

There is also still the `develop`

[2021-11-27 14:08] oborchers commented on #48
Hi @grantmwilliams!

Back then I downloaded the `paranmt` model from here I think: https://www.cs.cmu.edu/~jwieting/ https://aclanthology.org/P18-1042.pdf

But I've found a zip on my computer. It looks incredibly small, so I uploaded it (barely 200mb, 72 words x 300d)

https://drive.google.com/file/d/1PMekZGfVsIdSN9q7qgw13M4mPQ_oiGTJ/view?usp=sharing

[2021-11-27 14:24] oborchers commented on #44
This issue should be fixed in version `0.1.17`. Please reopen if necessary 👍

[2021-11-27 14:24] #44 closed

[2021-11-27 14:24] oborchers commented on #43
This issue should be fixed in version `0.1.17`. Please reopen if necessary 👍

[2021-11-27 14:24] #43 closed

[2021-11-27 14:24] oborchers commented on #39
Please see discussion #49

[2021-11-27 14:24] #39 closed

[2021-11-27 14:28] oborchers commented on #49
@mathias3: There is also a new version on pypi: `0.1.17`

[2021-11-27 14:30] oborchers commented on #45
Hi @shikharsingla! Well, this may affect the result of the SVD to some degree. But testing this out is up to you.

[2021-11-27 14:30] #45 closed

[2021-11-27 14:30] oborchers commented on #42
Hi @jaytimbadia! This depends entirely on the application and the corpus. Different vectors may work better for different purposes. Please feel free to test multiple variants. Thanks!

[2021-11-27 14:30] #42 closed

[2021-12-02 21:28] oborchers commented on #48
@grantmwilliams I'm working on `0.2.0`. It will provide downloadable vectors, including these ones. Stay tuned.

[2021-12-03 10:11] oborchers commented on #48
@grantmwilliams the model is now accessible using:

[code]

[2021-12-03 10:11] #48 closed

[2021-12-03 10:20] oborchers commented on #49
Fixed / added in `0.2.0`:
- Offering pretrained models and making them accessible
- Fix zero division error
- Bugfixes for python 3.8 builds
- Code refactoring to black style

[2021-12-03 10:21] oborchers commented on #47
@JacksonWuxs should be fixed in 0.2.0. Please re-open if still present, wasn't able to replicate the issue given the arguments provided in the issue.

[2021-12-03 10:21] #47 closed

[2021-12-03 10:38] oborchers opened #55 "Added Hierarchical (Convolutional) Embeddings"

[2021-12-03 10:39] oborchers opened #56 "MaxPooling Model"

[2021-12-03 10:41] oborchers opened #57 "Add Features to Sentencevectors"
[ ] Sentencevectors:
             Global:
             [ ] Remove normalized vector files and replace with NN
             ANN: --> (Annoy, with Option for Google ScANN?)
             [ ] Only construct index when when calling most_similar method
             [ ] Logging of index speed
             [ ] Save and load of index
             [ ] Assert that index and vectors are of equal size

[2021-12-03 10:42] oborchers opened #58 "SVD ram subsampling for SIF / uSIF"
Customizable, standard is 1 GB of RAM

[2021-12-03 10:43] oborchers opened #59 "Move Away from Travis.CI"
Different CI (Travis free mode not longer available)

[2021-12-03 10:43] oborchers opened #60 "Refactor and benchmark IndexedSentence"
Refactoring the horribly complicated Input class

[2021-12-03 10:44] oborchers opened #61 "Rework Threading"
Reworking the threading (at least from my last experience the input thread is the bottleneck, not the actual computation)

[2021-12-03 10:45] oborchers opened #62 "Don't absorb KeyedVectors into BaseS2V class"
Untangling the bad design decision to actually store the BaseKeyedVector from Gensim internally. If users want mmap, they can just load that and pass it. At least we shouldn't store it with the model.

[2021-12-03 10:46] oborchers commented on #55
[ ] pre_inference_calls
             [ ] base_iterator:
                 [X] Rewrite VecsConfig to combine FT & W2V
                 [ ] Hierarchical Average
                 [ ] Stride Parameter: https://adeshpande3.github.io/A-Beginner%27s-Guide-To-Understanding-Convolutional-Neural-Networks-Part-2/
             [ ] Average:
                 [ ] inherit from base_iterator
                 [ ] av

[2021-12-28 11:50] oborchers opened #63 "Add gensim 4.0.0 support"

[2022-01-12 05:59] pratikkotian04 opened #64 "ImportError: cannot import name '_l2_norm' from 'gensim.models.keyedvectors"
ImportError                               Traceback (most recent call last)

<ipython-input-13-30726af9f93b> in <module>()
----> 1 from fse import Vectors, Average, IndexedList
      2 vecs = Vectors.from_pretrained("fasttext-wiki-news-subwords-300")
      3 model = Average(vecs)

3 frames

/usr/local/lib/python3.7/dist-packages/fse/models/base_s2v.py in <module>()
     40
     41 from gensim.mode

[2022-01-27 09:05] AleMuzzi commented on #64
Hi, I don't know which version of Gensim you are using but I can tell you that in versions >=4 the `_l2_norm` function has been removed from `keyedvectors.py`.
You can either choose to

- edit your locally downloaded version of Gensim replacing `_l2_norm` with `linalg.norm` after adding linalg to the numpy import in the file's imports section
- update your fse with the porting I just made for Gens

[2022-01-27 09:11] AleMuzzi commented on #63
Hi, on this purpose I made a pull request with Gensim >=4 support: https://github.com/oborchers/Fast_Sentence_Embeddings/pull/65

[2022-01-30 09:12] oborchers commented on #63
Thanks @AleMuzzi! I will look into it and rewrite the tests 👍🏻

[2022-02-08 07:51] MrRace opened #66 "from the Results, CBOW is best, therefore why use SIF?"
As far as know,  SIF(smooth inverse frequency) just modify the vectors trained by Word2Vec、Glove or other word vector methods.
Therefore why CBOW is best in the Results? If CBOW is best, why need SIF?

![image](https://user-images.githubusercontent.com/10300313/152940910-238c1e80-92b4-446b-a06d-97f1f0acddd6.png)

[2022-02-11 05:30] KnutJaegersberg opened #67 "S3E pooling?"
From this research, Sentence Embedding via Semantic Subspace Analysis (S3E) allows us to construe sentence embeddings which are competitive with sentence bert.
[[Sentence Embedding via Semantic Subspace Analysis](https://github.com/BinWang28/Sentence-Embedding-S3E)](https://arxiv.org/abs/2002.09620)

Would be handy to have in your library? I'm not a pythoneer, but from what I get from others code

[2022-03-16 14:24] AleMuzzi commented on #63
Meanwhile you can update your Gensim using my fork with this command:

`pip install -U git+https://github.com/AleMuzzi/Fast_Sentence_Embeddings`

Hope it helps.

[2022-03-29 08:16] KnutJaegersberg opened #68 "out-of-vocabulary imputation?"
Have you considered working on meta embeddings and embedding imputation? I think fse might practically challenge some deep learning architectures, especially when taking knowledge graph embeddings into account.

[2022-04-09 15:06] oborchers commented on #68
Hi @KnutJaegersberg! Can you share some papers with me to consider if this is possible? Many thanks

[2022-04-09 15:08] oborchers commented on #63
@AleMuzzi @bratao I am painfully behind in maintenance. I will consider this issue tomorrow

[2022-04-10 19:22] #63 closed

[2022-04-10 19:47] oborchers commented on #64
Should be fixed in `v1.0.0`

[2022-04-10 19:47] #64 closed

[2022-04-10 19:49] oborchers commented on #66
@MrRace: This fully depends. Paranmt has a very small vocabulary, whereas you can have a much larger vocabulary with fasttext. So it depends on usecase and data.

[2022-04-10 19:49] #66 closed

[2022-04-12 12:07] KnutJaegersberg commented on #68
I read a few papers 2 weeks ago, but I can't recall them.
As I get on the topic now, I found some interesting ones:

https://github.com/ikergarcia1996/MetaVec
SOTA claim.

Also highly inspiring is the idea of radixAI, which reprojects fasttext embeddings into numberbatch knowledge graph space (solving OOV problem).
My intuition is, with graph embeddings we can tackle bias in NLP better.
https://ra

[2022-06-11 11:06] Shj451148969 opened #70 "Have full api document ?"
I do not know how to use it, can you provide a full document?

[2022-10-12 20:53] adkinsty opened #71 "Best way to save a fine-tuned vectorizer object for later use"
Thanks for creating this package! I just have one quick question.

After fine-tuning the vectorizer on my text:
[code]

what is the best way to save the `vectorizer` object for later use? Currently I am trying to use pickle, like so:
[code]
The resulting pickle file has a size of 6.9gb.

Thanks for your time.

[2022-10-12 20:59] adkinsty commented on #71
Ah, actually, perhaps I was confused. I had assumed that the `.train()` method does some sort of fitting/fine-tuning with the text whereas `.infer()` merely transforms the text. But if not, then there is no need to save the vectorizer for re-use. I can simply initialize a new vectorizer and use that to transform new text data.

P.S. the pre-trained model I'm using here is `fasttext-crawl-subwords-

[2022-10-12 22:04] #71 closed, assigned to nobody

[2022-11-23 17:54] antoniakrm opened #72 "error with fse.average function"
[code]